html,
body {
  font-size: 62.5%;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.header {
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  color: #fff;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.7rem;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone-img {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 1.2rem;
}

.header__phone-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__phone-text span:not(:last-child) {
  margin-right: 1.2rem;
}

.header__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__map-img {
  margin-right: 1.2rem;
  position: relative;
  width: 1.5rem;
  height: 2.5rem;
}

.header__map-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__instagram-img {
  margin-right: 1.2rem;
  position: relative;
  width: 3rem;
  height: 3rem;
}

.header__instagram-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  position: relative;
  border: 1px solid #000;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 17.2rem 12rem 8.4rem 12rem;
}

.footer__social, .footer__phones, .footer__aboutus {
  width: 22.4rem;
}

.footer__social-title, .footer__phones-title, .footer__aboutus-title {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.footer__social-img {
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
}

.footer__social-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__phones-phone, .footer__aboutus-text {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.footer__aboutus-text:nth-child(2) {
  margin-bottom: 12px;
}

.footer__decor-left {
  position: absolute;
  width: 11rem;
  height: 12.5rem;
  top: 40%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__decor-right {
  position: absolute;
  width: 23.3rem;
  height: 26.4rem;
  top: 47%;
  left: 77%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
